.top-search{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-top{
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.input{
  width: 200px;
}
.modal{
  align-items: flex-start;
  padding-top: 5rem;
}
.modal-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}