.top-search{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-top{
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.input{
  width: 200px;
}
.collection-switch{
  display: flex;
  gap: 2px;
}
.modal-collection-switch{
  width: 100%;
  justify-content: space-between;
}
.collection-switch .btn-ghost:hover{
  background-color: rgba(0, 0, 0, 0.12);
}
.modal{
  align-items: flex-start;
  padding-top: 5rem;
}
.modal-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}